In [2]:
# Reto día 2

# Configurar entorno virtual (importar)
import pandas as pd
import numpy as np

# 2) Crear una Serie
calificaciones = {'Ana': 10, 'Luis': 7.5, 'Marta': 9.0, 'Juan': 5.5}

s_calificaciones = pd.Series(calificaciones)
print("\n--- Serie Original ---")
print(s_calificaciones)

# Crear nueva Serie sumando 0.5
s_calificaciones_final = s_calificaciones + 0.5
print("\n--- Serie Final (+0.5) ---")
print(s_calificaciones_final)

# Crear un DataFrame de inventario
data = {
    'producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'stock': [20, 150, 80, 35],
    'precio_usd': [1200, 25, 60, 300]
}

df_inventario = pd.DataFrame(data)
print("\n--- DataFrame de Inventario (Original) ---")
print(df_inventario)

# Hacer 'producto' el índice
df_inventario.set_index('producto', inplace=True)
print("\n--- DataFrame con Índice 'producto' ---")
print(df_inventario)

# Cargar dataset de Videojuegos
url_juegos = "https://gist.githubusercontent.com/designernatan/27da044c6dc823f7ac7fe3a01f4513ed/raw/d15b5c7d7a5efb38750b16ec935fc126ec9a6e79/vgsales.csv"

df_juegos = pd.read_csv(url_juegos)

# Flujo de Inspección

# Paso 1: Primeras 10 filas
print("\n--- Paso 1: Primeras 10 filas ---")
print(df_juegos.head(10))

# Paso 2: Forma del dataset
print("\n--- Paso 2: Forma del dataset (.shape) ---")
print(df_juegos.shape)
# Comentario: El dataset tiene df_juegos.shape[0] juegos.
# (Ejemplo: si imprime (16598, 11), significa 16,598 juegos.)

# Paso 3: info()
print("\n--- Paso 3: .info() ---")
df_juegos.info()
# Comentario: Las columnas con valores nulos son 'Year' y 'Publisher'.

# Paso 4: describe()
print("\n--- Paso 4: .describe() ---")
print(df_juegos.describe())
# Comentarios:
# - El año más reciente (max de 'Year') aparece en la estadística 'max'.
# - El promedio de ventas en Norteamérica (NA_Sales) está en la fila 'mean'.

# Paso 5: columnas
print("\n--- Paso 5: Nombres de columnas (.columns) ---")
print(df_juegos.columns)

--- Serie Original ---
Ana      10.0
Luis      7.5
Marta     9.0
Juan      5.5
dtype: float64

--- Serie Final (+0.5) ---
Ana      10.5
Luis      8.0
Marta     9.5
Juan      6.0
dtype: float64

--- DataFrame de Inventario (Original) ---
  producto  stock  precio_usd
0   Laptop     20        1200
1    Mouse    150          25
2  Teclado     80          60
3  Monitor     35         300

--- DataFrame con Índice 'producto' ---
          stock  precio_usd
producto
Laptop       20        1200
Mouse       150          25
Teclado      80          60
Monitor      35         300

--- Paso 1: Primeras 10 filas ---
   Rank                       Name Platform    Year         Genre Publisher  \
0     1                 Wii Sports      Wii  2006.0        Sports  Nintendo
1     2          Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3             Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4          Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5   Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5     6                     Tetris       GB  1989.0        Puzzle  Nintendo
6     7      New Super Mario Bros.       DS  2006.0      Platform  Nintendo
7     8                   Wii Play      Wii  2006.0          Misc  Nintendo
8     9  New Super Mario Bros. Wii      Wii  2009.0      Platform  Nintendo
9    10                  Duck Hunt      NES  1984.0       Shooter  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
5     23.20      2.26      4.22         0.58         30.26
6     11.38      9.23      6.50         2.90         30.01
7     14.03      9.20      2.93         2.85         29.02
8     14.59      7.06      4.70         2.26         28.62
9     26.93      0.63      0.28         0.47         28.31

--- Paso 2: Forma del dataset (.shape) ---
(16598, 11)

--- Paso 3: .info() ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

--- Paso 4: .describe() ---
               Rank          Year      NA_Sales      EU_Sales      JP_Sales  \
count  16598.000000  16327.000000  16598.000000  16598.000000  16598.000000
mean    8300.605254   2006.406443      0.264667      0.146652      0.077782
std     4791.853933      5.828981      0.816683      0.505351      0.309291
min        1.000000   1980.000000      0.000000      0.000000      0.000000
25%     4151.250000   2003.000000      0.000000      0.000000      0.000000
50%     8300.500000   2007.000000      0.080000      0.020000      0.000000
75%    12449.750000   2010.000000      0.240000      0.110000      0.040000
max    16600.000000   2020.000000     41.490000     29.020000     10.220000

        Other_Sales  Global_Sales
count  16598.000000  16598.000000
mean       0.048063      0.537441
std        0.188588      1.555028
min        0.000000      0.010000
25%        0.000000      0.060000
50%        0.010000      0.170000
75%        0.040000      0.470000
max       10.570000     82.740000

--- Paso 5: Nombres de columnas (.columns) ---
Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')